.bg-body-tertiary{
    background-color: transparent !important;
    

}
.me-auto{
     padding-left: 25rem;
     color: white !important;
     gap: 50px;
     font-size: large;
     font-weight: 500;
}

.btn-1{

}