.bg-img{
    position: absolute;
   background-image: linear-gradient(
        50deg,
        hsl(240deg 100% 20%) 0%,
        hsl(232deg 97% 24%) 10%,
        hsl(226deg 95% 27%) 18%,
        hsl(221deg 96% 31%) 27%,
        hsl(218deg 98% 34%) 35%,
        hsl(214deg 100% 37%) 46%,
        hsl(212deg 100% 40%) 57%,
        hsl(210deg 100% 43%) 70%,
        hsl(208deg 100% 47%) 84%,
        hsl(206deg 100% 50%) 100%
      );;
    top: 0px;
    right: 0px;
    height: 700px;
    width: 1300px;
    clip-path: polygon(100% 0, 9% 0, 100% 100%);
    z-index: -1;
}
.bg-img img{
  z-index: 10;
  top: 500px;
  position: absolute;
}


.image{
    z-index: 100;
   position: absolute;
   right: 10rem;
   top: 10rem;
   rotate: 5deg;
   animation-name: example;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   -webkit-animation-timing-function: linear
  
}
.right1{
  width: 700px;
  position: absolute;
  padding-top: 20rem;
  padding-left: 7.5rem;
  
}
.right1 h1{
  font-size: xx-large;
  font-weight: 700;
  color: rgb(75, 75, 237)!important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.right1 p{

}

@keyframes example {
  from {top: 11rem;}
  to {top: 10rem;}
}

.cta-btn {
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.cta-btn:hover {
  background-color: #0056b3;
}

.feature-section {
  margin-top: 50rem;
  color: white;
  background-image: linear-gradient(
        50deg,
        hsl(240deg 100% 20%) 0%,
        hsl(232deg 97% 24%) 10%,
        hsl(226deg 95% 27%) 18%,
        hsl(221deg 96% 31%) 27%,
        hsl(218deg 98% 34%) 35%,
        hsl(214deg 100% 37%) 46%,
        hsl(212deg 100% 40%) 57%,
        hsl(210deg 100% 43%) 70%,
        hsl(208deg 100% 47%) 84%,
        hsl(206deg 100% 50%) 100%
      );;
  padding: 20px;

}

.feature-section h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

.feature-cards {
  display: flex;
  justify-content: center;
}

.feature-card {
  max-width: 300px;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin: 20px;
  text-align: center;
}
.feature-card:hover{
  transform: scale(1.1)
}

.feature-card i {
  font-size: 36px;
  margin-bottom: 20px;
  color: #007bff;
}

.feature-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 16px;
  line-height: 1.6;
}

/* school section */
.main-school{
  display: flex;
  flex-direction: column;
}
.main-school img{
 height: 400px;
 width: 500px;
 padding-left: 50px;
}
.school-section{
  margin-top: 10rem;
  padding-right: 80px;
  position: absolute;
  right: 10px;
  width: 700px;
}



/* digital section */
.main-digital{
  display: flex;
  flex-direction: column;
}
.main-digital img{
  position:absolute;
 height: 500px;
 width: 500px;
}
.digital-section{
margin-top: 20rem;
margin-bottom: 30rem;
padding-right: 80px;
position: absolute;
left: 30px;
width: 700px;
}